section h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 32px;
  }

.titulo {
    margin-top: 40px;
    text-align: center;
    color: #ff4d4d;
    margin-bottom: 20px;
    font-size: 32px;
}
  
.cards-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}
.see-all {
    display: block;             
    margin: auto;          
    width: fit-content;       
    padding: 6px 14px;
    font-size: 17px;
    border: 1.5px solid #ff4d4d;
    border-radius: 4px;
    color: #ff4d4d;
    background: transparent;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 60px;
}
